.splash {
	position:absolute;
}
h1 {
	position: absolute;
	top: 50%;
	font-size: 100px;
	font-family: arial;
	font-variant: bold;
	color: gray;
	padding-right: 70px;
	padding-left: 70px;
}

h2 {
	position: absolute;
	top: 65%;
	font-size: 48px;
	font-family: arial;
	font-variant: bold;
	color: gray;
	padding-left: 70px;
	padding-right: 70px;
	padding-top: 30px;
}

#video iframe {
	position: relative;
	width: 100%;
	height: 100%;
}

h3 {
	font-family: arial;
	font-size: 42px;
	font-variant: bold;
	padding-left: 50px;
	padding-right: 150px;
}

p {
	font-family: Times;
	line-height: 1.75em;
	font-size: 20px;
	text-align: left;
	padding-left: 50px;
	padding-right: 150px;
}

#calc {
	font-family: 'arial', sans-serif;
	font-size: 24px;
	font-variant: bold;
	vertical-align: bottom;
}

#zipCode {
	position: relative;
	height: 34px;
	font-size: 24px;
	font-family: 'arial', sans-serif;
	font-variant: bold;
	align-content: center;

}
p.byline {
	font-family: arial;
	font-variant: italic;
}