.splash {
	position:absolute;
}
h1 {
	position: absolute;
	top: 30%;
	font-size: 150px;
	font-family: arial;
	font-variant: bold;
	color: #EC7063;
	text-align: right;
	padding-left: 50px;
	padding-right: 50px;
}

#video iframe {
	position: relative;
	width: 100%;
	height: 100%;
}

h3.emphasis{
	font-family: arial;
	color: black;
}

h3 {
	font-family: arial;
	font-size: 42px;
	font-variant: bold;
	padding-left: 50px;
	padding-right: 150px;
	color: #EC7063;
}

.nobr {
	white-space: nowrap;

}

p {
	font-family: Times;
	line-height: 1.5em;
	font-size: 18px;
	text-align: left;
	padding-left: 50px;
	padding-right: 150px;
}

#calc {
	font-family: 'arial', sans-serif;
	font-size: 24px;
	font-variant: bold;
	vertical-align: bottom;
}

#zipCode {
	position: relative;
	height: 34px;
	font-size: 24px;
	font-family: 'arial', sans-serif;
	font-variant: bold;
	padding-left: 50px;
	margin-left: 50px;

}

p.source {
	font-family: arial;
	font-size: 14px;
}
p.byline {
	font-family: arial;
	font-size: 14px;
	margin-left: -45px;
}